.home {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem 0 5rem 0;
}

.home-cont {
  width: 100%;
  display: flex;
  gap: 1rem 3rem;
  justify-content: space-between;
  overflow: hidden;
  min-height: fit-content;
}
