@use "../../base/mixins" as m;

.cards {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  margin-bottom: 5rem;
}

@include m.tablet {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@include m.phone {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
